body {
    font-family: Arial;
    height: 100%;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    background-color: #445162;
    padding: 50px 0 59px 0;
}
.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}
.header_list {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    list-style-type: none;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    padding: 0;
}
.header_list>li {
    position: relative;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}
.header_list>li:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(../img/check.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header_img {
    width: 469px;
    min-height: 214px;
    background-color: #ffffff;
}
.about {
    padding: 50px 0 59px 0;
}
.about_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_text {
    max-width: 649px;
}
.main_title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 30px 0;
}
.about_text_paragraph:last-child {
    margin: 0;
}
.paragraph {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 20px 0;
}
.about_video {
    width: 430px;
    min-height: 245px;
}
.advantages {
    background-color: #f5f5f5;
    padding: 50px 0 30px 0;
}
.advantages_title {
    text-align: center;
}
.advantages_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.advantages_list>li {
    text-indent: 0;
    padding: 0 0 0 50px;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    position: relative;
    flex: 0 1 49%;
}
.advantages_list>li:before {
    content: "+";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #445161;
    color: #fff;
    text-align: center;
    font-size: 37px;
    line-height: 40px;
}
.screenshots {
    padding: 50px 0 30px 0;
}
.screenshots_title {
    text-align: center;
}
.screenshots_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.screenshots_item {
    max-width: 574px;
    margin: 0 0 20px 0;
}
.screenshots_item_img {
    width: 200px;
    min-height: 150px;
    background-color: #445161;
    float: left;
    margin: 0 15px 0 0;
}
.screenshots_item_title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0;
    padding: 0;
}
.screenshots_item_paragraph {
    margin: 0;
}
.reviews {
    background-color: #f5f5f5;
    padding: 50px 0 26px 0;
}
.reviews_title {
    text-align: center;
}
.reviews_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.reviews-item {
    display: flex;
    justify-content: space-between;
    width: 48%;
    box-sizing: border-box;
    margin: 0 0 24px 0;
}
.reviews-item-img {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
}
.reviews-item-txt {
    width: 80%;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    position: relative;
    font-style: italic;
    font-size: 14px;
    color: #333333;
}
.reviews-item-txt::before {
    content: "";
    display: block;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 27px;
    left: -26px;
}
.reviews-item-text-author {
    display: block;
    line-height: 18px;
    color: #989898;
    margin: 14px 0 0 0;
}
.prices {
    padding: 50px;
}

.prices_title {
    text-align: center;
}
.prices_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 30px 0 30px;
}
.prices_item {
    background-color: #445162;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #445162;
    padding: 0 0 20px 0;
    min-width: 300px;
}
.prices_item_name {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 16px;
    box-sizing: border-box;
}
.prices_item_price {
    text-align: center;
    color: #445162;
    font-size: 40px;
    line-height: 30px;
    background-color: #ffffff;
    padding: 18px;
    box-sizing: border-box;
}
.prices_item_list {
    padding: 0 20px 0 0;
}
.prices_features_list {
    font-size: 14px;
    line-height: 24px;
}
.prices_button {
    display: block;
    margin: 0 20px;
    padding: 10px;
    background-color: #ffffff;
    word-break: break-all;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #445161;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.prices_button:hover,
.contacts_form_btn:hover {
    background-color: #445161;
    color: #fff;
    box-shadow: 5px 0px 22px 0px rgba(255, 255, 255, 0.51);
}
.prices_button:active,
.contacts_form_btn:active {
    box-shadow: 5px 0px 22px 0px rgba(75, 113, 240, 0.51);
}

.contacts {
    padding: 53px 0 49px 0;
    background-color:#445162;
}
.contacts_title {
    color: #fff;
    text-align: center;
}
.contacts_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contacts_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 45px 0 0;
}
.contacts_form_items {
    width: 500px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #445162;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 21px 0;
}
.contacts_form_items::placeholder {
    color: #445162;
}
input[type="text"],
input[type="email"] {
    min-height: 40px;
}
.contacts_form_items:nth-child(3) {
    resize: none;
    min-height: 170px;
}
.contacts_form_btn {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
    padding: 14px;
    border: 1px solid #445162;
    border-radius: 10px;
    width: 140px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
}
.contacts_social-icons {
}
.contacts_ways {
    list-style-type: none;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 29px 0;
    padding: 0;
}
.contacts_ways>li {
    position: relative;
    padding: 0 0 0 35px;
}
.contacts_ways>li::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts_ways>li:nth-child(1)::before {
    background-image: url(../img/skype_icon.png);
}
.contacts_ways>li:nth-child(2)::before {
    background-image: url(../img/icq_icon.png);
}
.contacts_ways>li:nth-child(3)::before {
    background-image: url(../img/email_icon.png);
}
.contacts_ways>li:nth-child(4)::before {
    background-image: url(../img//phone_icon.png);
}

.footer {
    height: 27px;
    font-size: 12px;
    line-height: 30px;
    background-color: #f5f5f5;
    text-align: center;
    margin: -20px 0 0 0;
}


